@import "colors.css";

.root {
    -fx-background-color: -default-background-color;
}

.button {
    -fx-background-color: -secondary-button-color;
    -fx-text-fill: -on-secondary-button-color;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
    -fx-effect: -secondary-button-effect;
}

.button:hover {
    -fx-background-color: -secondary-button-hover-color;
    -fx-effect: -secondary-button-hover-effect;
}

.button:pressed {
    -fx-background-color: -secondary-button-pressed;
}

.label {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
}

.label-erro {
    -fx-text-fill: red;
}

.text-field {
    -fx-background-color: #25294d;
    -fx-background-insets: 0;
    -fx-border-color: #3c1992;
    -fx-border-radius: 9px;
    -fx-background-radius: 9px;
    -fx-border-width: 2px;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-caret-color: #ff204e;
    -fx-effect: dropshadow(gaussian, rgba(60,25,146,0.08), 10, 0, 0, 1);
    -fx-transition: all 0.2s ease;
}

.text-field:focused {
    -fx-border-color: #ff204e;
    -fx-effect: dropshadow(gaussian, #ff204e55, 12, 0.35, 0, 2);
}

.text-field:disabled {
    -fx-background-color: -card-color;
    -fx-border-color: #36314c;
    -fx-text-fill: #888daa;
}