@import "colors.css";

.root {
    -fx-background-color: -default-background-color;
}

/* Barra Superior */
.top-bar {
    -fx-background-color: -top-bar-gradient;
    -fx-padding: 16px;
}

/* Labels */
.label {
    -fx-text-fill: #fff;
    -fx-font-size: 15px;
    -fx-font-weight: 500;
}

.label-titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.botao-voltar {
    -fx-background-color: -voltar-button-color;
    -fx-background-radius: 8px;
    -fx-cursor: hand;
    -fx-effect: -secondary-button-effect;
}

.botao-voltar:hover {
    -fx-background-color: -voltar-button-hover-color;
    -fx-effect: -secondary-button-hover-effect;
    -fx-border-color: #ff4567;
    -fx-border-radius: 8px;
}

.botao-voltar:pressed {
    -fx-background-color: -voltar-button-pressed-color;
    -fx-effect: -voltar-button-pressed-effect;
    -fx-translate-y: 1px;
}

/* Botão Exportar */
.botao-exportar {
    -fx-background-color: -default-button-color;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 7 30 7 30;
    -fx-background-radius: 18px;
    -fx-font-size: 15px;
    -fx-cursor: hand;
    -fx-effect: -default-button-effect;
}

.botao-exportar:hover {
    -fx-background-color: -default-button-hover-color;
    -fx-text-fill: #fff;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-effect: -default-button-hover-effect;
}

.botao-exportar:pressed {
    -fx-background-color: -default-button-pressed;
}

.card {
    -fx-background-color: -card-color;
    -fx-background-radius: 16px;
    -fx-padding: 16 18 14 18;
    -fx-effect: dropshadow(gaussian, rgba(60, 25, 146, 0.13), 12, 0, 0, 4);
    -fx-border-color: #3c1992;
    -fx-border-width: 1.2;
    -fx-border-radius: 15px;
    -fx-spacing: 6;
}

.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 69, 103, 0.19), 20, 0, 0, 7);
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-border-color: #ff4567;
}

.campo-label {
    -fx-font-size: 15px;
    -fx-text-fill: #cdbdff;
    -fx-font-weight: bold;
}

.combo-filtro {
    -fx-background-color: #25294d;
    -fx-border-color: #3c1992;
    -fx-border-radius: 9px;
    -fx-background-radius: 9px;
    -fx-border-width: 2px;
    -fx-font-size: 15px;
    -fx-text-fill: #ffffff;
}

.combo-filtro > .list-cell:selected:filled > .text {
    -fx-fill: white;
}

.combo-filtro > .open-button > .arrow {
    -fx-border-color: white;
}

.combo-filtro:focused {
    -fx-border-color: #ff204e;
    -fx-effect: dropshadow(gaussian, #ff204e55, 10, 0.35, 0, 2);
}

.botao-filtro {
    -fx-background-color: -secondary-button-color;
    -fx-text-fill: -on-secondary-button-color;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: -secondary-button-effect;
}

.botao-filtro:hover {
    -fx-background-color: -secondary-button-hover-color;
    -fx-text-fill: #fff;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-effect: -secondary-button-hover-effect;
}

.botao-filtro:pressed {
    -fx-background-color: -secondary-button-pressed;
}