@import "colors.css";

.root, .border-pane, .background {
    -fx-background-color: -default-background-color;
}

/* Barra Superior */
.top-bar {
    -fx-background-color: -top-bar-gradient;
    -fx-padding: 16px;
}

.label-titulo {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.label-bem-vindo {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: #8e92f2;
}

.label-escolha-peca {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #8e92f2;
}

.label-descricao-peca {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

/* NavBar botões */
.nav-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #aeb2fd;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 8px;
    -fx-effect: dropshadow(gaussian, rgba(60, 25, 146, 0.08), 8, 0, 0, 2);
}

.nav-btn:hover {
    -fx-text-fill: #ff4567;
    -fx-background-color: transparent;
    -fx-underline: true;
}

/* Card dos espetáculos */
.card {
    -fx-background-color: -card-color;
    -fx-background-radius: 16px;
    -fx-effect: dropshadow(gaussian, rgba(60, 25, 146, 0.12), 16, 0, 0, 4);
    -fx-alignment: center;
    -fx-border-color: #3c1992;
    -fx-border-width: 1.2;
    -fx-border-radius: 15px;
}

.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(255, 69, 103, 0.19), 20, 0, 0, 7);
    -fx-scale-x: 1.04;
    -fx-scale-y: 1.04;
    -fx-border-color: #ff4567;
}

/* Titulo da peça no card */
.titulo-card {
    -fx-font-size: 19px;
    -fx-text-fill: #aeb2fd;
    -fx-font-weight: bold;
}

/* Botão principal do card */
.comprar-botao {
    -fx-background-color: -default-button-color;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-padding: 7 30 7 30;
    -fx-background-radius: 18px;
    -fx-cursor: hand;
    -fx-effect: -default-button-effect;
}

.comprar-botao:hover {
    -fx-background-color: -default-button-hover-color;
    -fx-text-fill: #fff;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-effect: -default-button-hover-effect;
}

.comprar-botao:pressed {
    -fx-background-color: -default-button-pressed;
}

/* Botões de turno */
.turno-botao {
    -fx-background-color: -secondary-button-color;
    -fx-text-fill: -on-secondary-button-color;
    -fx-font-weight: bold;
    -fx-background-radius: 10px;
    -fx-font-size: 14px;
    -fx-cursor: hand;
    -fx-effect: -secondary-button-effect;
}

.turno-botao:hover {
    -fx-background-color: -secondary-button-hover-color;
    -fx-text-fill: #fff;
    -fx-scale-x: 1.06;
    -fx-scale-y: 1.06;
    -fx-effect: -secondary-button-hover-effect;
}

.turno-botao:pressed {
    -fx-background-color: -secondary-button-pressed;
}